<div id="<%= dom_id category %>">
  <%= link_to category do %>
  <div>
    <div class="d-flex justify-content-around mt-5 border ms-5 me-5 rounded">
      <img class="cat-img" src="<%=asset_path("#{category.icon}.png")%>">
      <% end %>
      <p class="category-link mt-5">
        <strong><%= category.name%></strong>
      </p>
      <p class="category-link mt-5">
        $ <%= category.total_amount_category %>
      </p>
    </div>
  </div>
</div>
